---
import { Github, Linkedin, Music, User } from "lucide-react";


---

<div id="header" class="flex flex-row justify-between w-full p-10">
    <div class="">Logo</div>
    <div>
        <ul class="flex flex-row gap-10">
            <li>Sobre mi</li>
            <li>Experiencia</li>
            <li>Proyectos</li>
            <li>Contactar</li>
        </ul>
    </div>
    <div>
        <ul class="flex flex-row gap-4">
            <li>
                <Github className=""></Github>               
            </li>
            <li>
                <Linkedin className=""></Linkedin>                
            </li>
        </ul>
    </div>
</div>