---
import IconGithub from "../../assets/footer/github.png"
import IconLinked from "../../assets/footer/linkedin.png"
---

<div id="footer" class="flex flex-row justify-around items-end bg-white/55">
    <h1>Hecho por ninodev</h1>
    <div class="flex flex-row gap-3">
        <img src={IconGithub.src} alt="no disponible" class="w-10 h-10">
        <img src={IconLinked.src} alt="no disponible" class="w-10 h-10">
    </div>
</div>