---
import { Copyright, Github, Linkedin, Twitter } from "lucide-react"
import IconGithub from "../../assets/footer/github.png"
import IconLinked from "../../assets/footer/linkedin.png"
---

<div id="footer" class="flex flex-col items-center border-t-white/10 border-t-1 p-10 w-full">
    <div class="flex flex-row gap-3">
        <Github className="hover:text-indigo-400/80 cursor-pointer hover:scale-105 h-8 w-8 transition-all"></Github>
        <Linkedin className=" hover:text-indigo-400/80 cursor-pointer hover:scale-105 h-8 w-8 transition-all"></Linkedin>
        <Twitter className="hover:text-indigo-400/80 cursor-pointer hover:scale-105 h-8 w-8 transition-all"></Twitter>
       {/*
        <img src={IconGithub.src} alt="no disponible" class="w-10 h-10">
        <img src={IconLinked.src} alt="no disponible" class="w-10 h-10">
       */}
    </div>
    
    <h1 class="mt-4 flex-row flex"><Copyright/>NinoDev 2024. Todos los derechos reservados.</h1>
</div>